<img src = "/images/tree.png">
<form action="/" method="post">
    <span class = "row">
        <label class="written">
            Enter your code: 
        </label>
        <input type="text" name = "code">
    </span>
    <span class = "row">
        <input type="submit" value = "What's under the tree?">
    </span>
</form>
<p><%= @message %></p>